<app-navbar></app-navbar>
<main class="min-h-screen">
  <div class="mx-6 pb-6">
    <h1 class="text-4xl my-3 font-semibold">Latest images</h1>
    <ul class="inline-flex flex-wrap gap-4 ">
      <li
      class="cursor-pointer flex-[auto]"
      *ngFor="let imageId of listOfImagesAsIds">
        <img
        class="object-cover max-w-screen-lg min-w-full h-[300px] align-middle rounded-md "
          src="http://localhost:8081/api/v1/images/{{ imageId }}"
          [routerLink]="['/image',  imageId]"
        />
      </li>
    </ul>
  </div>
</main>
