<app-navbar></app-navbar>
<main class="min-h-screen">
  <div class="mx-6 pb-6" *ngIf="imagePage$ | async as imagePage">
    <h2 class="text-4xl my-3 font-semibold">Latest images</h2>
    <ul class="inline-flex flex-wrap gap-4">
      <li
        class="cursor-pointer flex-[auto]"
        *ngFor="let imageId of imagePage.data"
      >
        <img
          class="object-cover max-w-screen-lg min-w-full h-[300px] align-middle rounded-md"
          src="http://localhost:8081/api/v1/images/{{ imageId }}"
          [routerLink]="['/image', imageId]"
        />
      </li>
    </ul>
    <div class="flex flex-col items-center py-6">
      <span class="text-sm text-gray-700 dark:text-gray-400">
        Showing
        <span class="font-semibold text-black dark:text-slate-300">
          {{ imagePage.totalPages ? imagePage.currentPage + 1 : 0 }}
        </span>
        page out of
        <span class="font-semibold text-black dark:text-slate-300">
          {{ imagePage.totalPages }}
        </span>
        pages
      </span>
      <div class="inline-flex mt-2">
        <button
          (click)="this.fetchPreviousPageOfComments(imagePage.currentPage)"
          class="bg-white hover:bg-gray-50 font-medium rounded-lg border-2 text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-slate-800 dark:hover:bg-slate-700 dark:border-slate-700"
        >
          Prev
        </button>
        <button
          (click)="
            this.fetchNextPageOfComments(
              imagePage.currentPage,
              imagePage.isLast
            )
          "
          class="bg-white hover:bg-gray-50 font-medium rounded-lg border-2 text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-slate-800 dark:hover:bg-slate-700 dark:border-slate-700"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</main>
