<nav class="bg-white dark:bg-gray-700 py-2 mb-3 pl-60 shadow-md">
  <div class="flex flex-wrap items-center justify-between p-3">
    <div>
      <a class="flex items-center">
        <span class="self-center text-2xl font-semibold whitespace-nowrap"
          >Photo Sharing Application</span
        >
      </a>
    </div>
    <div>
      <ul class="flex flex-row p-0 font-medium items-center mt-0 space-x-8">
        <li>
          <a
            routerLink="/home"
            class="block p-0 dark:hover:text-gray-300 dark:bg-gray-700"
            >Home</a
          >
        </li>

        <li *ngIf="this.authService.isAuthenticated()">
            <a 
            [ngStyle]="!this.accountDetails()?.isEmailVerified ? {pointerEvents: 'none', color: 'gray'} : {}"
            href="/add-image">Add an image</a>
        </li>
      </ul>
    </div>
    <div class="flex items-center">
      <div
      *ngIf="this.authService.isAuthenticated() && !this.accountDetails()?.isEmailVerified"
      class="p-3 mr-5 text-red-800 rounded-lg bg-red-200 dark:bg-gray-800 dark:text-red-500">
        <span class="font-medium">Please verify your email address!</span>
      </div>

      <button
        (click)="changeTheme()"
        type="button"
        class="flex items-center w-9 h-9 mr-2 justify-center text-xs font-medium text-gray-700 bg-white border border-gray-200 rounded-lg toggle-dark-state-example hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 focus:outline-none dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      >
        <svg id="moon-icon" class="w-3.5 h-3.5" viewBox="0 0 18 20">
          <path
            d="M17.8 13.75a2 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"
          ></path>
        </svg>
        <svg id="sun-icon" class="w-3.5 h-3.5 fill-white" viewBox="0 0 18 20">
          <path
            d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"
          ></path>
        </svg>
      </button>

      <ul class="flex flex-row font-medium items-center space-x-8">
        <li
          *ngIf="this.authService.isAuthenticated(); else nonAuthenticatedView"
        >
          <a
            (click)="this.logoutService.logout()"
            class="block hover:text-red-800 cursor-pointer"
            >Log out</a
          >
        </li>
        <ng-template #nonAuthenticatedView>
          <li>
            <a routerLink="/login" class="block dark:hover:text-gray-300"
              >Log in</a
            >
          </li>
          <li>
            <a routerLink="/register" class="block dark:hover:text-gray-300"
              >Register</a
            >
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
