<app-navbar></app-navbar>
<div class="px-14 min-h-screen bg-white dark:bg-[#141414] dark:text-slate-300">
  <div>
    <div class="flex justify-center items-center min-w-full min-h-[70vh]">
      <img
        src="http://localhost:8081/api/v1/images/{{ imageId() }}"
        class="max-h-[60vh] max-w-[80vw]"
        alt="image"
      />
    </div>
    <div class="flex flex-col mt-8 h-[20vh] justify-between">
      <textarea
        id="comment-content"
        rows="3"
        [placeholder]="
          isEmailVerified()
            ? 'Add a new comment'
            : isLoggedIn()
            ? 'Please verify your account to add a comment!'
            : 'Please log in to add a comment'
        "
        [(ngModel)]="commentTextArea"
        [ngClass]="
          !isLoggedIn() || !isEmailVerified() ? 'font-bold text-center' : ''
        "
        [disabled]="!isLoggedIn() || !isEmailVerified()"
        maxlength="255"
        class="border-2 self-center max-w-3xl p-2 border-gray-100 dark:border-[#282828] dark:border-dark:bg-[#282828] w-full dark:bg-[#282828] focus:dark:outline"
      ></textarea>
      <div>
        <button
          type="submit"
          (click)="addCommentToImage()"
          *ngIf="!isBeingProcessed()"
          [disabled]="commentTextArea === ''"
          [ngClass]="
            commentTextArea === ''
              ? 'cursor-not-allowed opacity-50'
              : 'duration-500 ease-in-out transition-color border-blue-100 dark:hover:bg-[#6200EE] hover:bg-blue-100 hover:shadow-blue-100 shadow-sm dark:hover:shadow-[#6200EE]'
          "
          class="font-medium rounded-lg border-2 text-sm px-5 py-2.5 mx-auto block dark:border-[#6200EE]"
        >
          Comment
        </button>
        <app-spinner *ngIf="isBeingProcessed()"></app-spinner>
      </div>
    </div>
    <div *ngIf="commentPage$ | async as page" class="mt-10">
      <ul *ngFor="let comment of page.data">
        <li class="mb-5 mx-8">
          <app-image-detail-comment
            [content]="comment.content"
            [email]="comment.authorEmail"
          ></app-image-detail-comment>
        </li>
      </ul>
      <app-pagination
        [page]="page"
        (pageNumber)="updatePageContent($event)"
      ></app-pagination>
    </div>
  </div>
</div>
