<div class="flex justify-center items-center flex-col h-screen bg-gray-100 dark:bg-gray-900">
  <div class="flex flex-col p-24 shadow-2xl bg-white dark:bg-slate-900">
    <h1 class="text-center text-2xl font-bold mb-3 ">Please log in</h1>
    <form
      [formGroup]="this.loginForm"
      (ngSubmit)="onSubmit()"
      class="space-y-6 flex flex-col items-center"
    >
      <div
        *ngIf="this.hasBadCredentials()"
        class="flex items-center p-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 me-3"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>You have provided a wrong password or email</div>
      </div>
      <div>
        <input
          type="email"
          placeholder="Email"
          name="email"
          formControlName="email"
          class="bg-white hover:bg-gray-50 font-medium rounded-lg border-2 text-sm px-5 py-2.5 dark:bg-slate-800 dark:border-slate-700 focus:dark:outline focus:dark:outline-gray-300"
          autocomplete="email"
        />
      </div>
      <div>
        <input
          type="password"
          placeholder="Password"
          name="password"
          formControlName="password"
          class="bg-white hover:bg-gray-50 font-medium rounded-lg border-2 text-sm px-5 py-2.5 dark:bg-slate-800 dark:border-slate-700 focus:dark:outline focus:dark:outline-gray-300"
          autocomplete="current-password"
        />
        <div>
          <a class="text-sm italic text-gray-400" routerLink="/forget-password"
            >Forgot your password?</a
          >
        </div>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          [ngClass]="
            !loginForm.valid ? 'cursor-not-allowed hover:bg-white' : 'dark:hover:bg-slate-700'
          "
          class="bg-white hover:bg-gray-50 font-medium rounded-lg border-2 text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-slate-800 dark:border-slate-700"
        >
          Login
        </button>
        <!-- add loading button -->
      </div>
      <hr
        class="w-full h-px mx-auto my-4 bg-gray-200 border-0 rounded md:my-10"
      />
      <div class="flex gap-x-5">
        <div>
          <a
            class="bg-white hover:bg-gray-50 font-medium rounded-lg border-2 text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-slate-800 dark:hover:bg-slate-700 dark:border-slate-700"
            routerLink="/register"
            >Create account</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
